{:deps {:aliases [:frontend]}
 :builds
 {:frontend
  {:output-dir "src/leihs/inventory/client/.shadow"
   :target :esm
   :js-options {:js-provider :import}
                ;; :external-index "src/leihs/inventory/client/.shadow/imports.js"
                ;; :external-index-format :esm}

   :modules {:main {:init-fn leihs.inventory.client.main/init}}
   :devtools {:preloads [leihs.inventory.client.preload]}}}}
